@tailwind base;
@tailwind components;

body{
  margin: 0;
  padding: 0;
  background-color: #303030;

}


#message{
  background-color: #303030;
  max-width: 480px;
}

#users-menu{
  width: 420px;
  min-width: 420px;

}

#sub-menu-fixed{
  width: 420px;
}


@media screen and (min-width: 768px) and (max-width: 1060px) {
  #sub-menu-fixed{
    width: 300px;
  }

  #users-menu{
    width: 300px;
    min-width: 300px;
  
  }

  #form-container form{
    width: 460px
  }
  
  #conteiner-display-m{
    width: 453px;
  }

}

@media screen and (min-width: 1024px) {
  #container-messages{
    width: 624px
  }

  #form-container form{
    width: 624px
  }

  #conteiner-display-m{
    width: 624px;
  }
}


#inp-message{
  background-color: #303030;
}

#send{
  background-color: #9884f2;
  transition: all 150ms;
}

#send:hover{
  background-color: #8773e1;
}

@tailwind utilities;

